// 长临按钮组件style
$default_color: #FAFAFA;
$highlight_color: #1890FF;
.common_radio_group.el-radio-group{
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    box-sizing: border-box;
    height: 32px;
    &.flexRow{
        display: flex;
        flex-direction: row;
    }
    .el-radio-button--small{
        .el-radio-button__inner{
            padding: 3px 8px;
            font-size: 14px;
            line-height: 22px;
            background: $default_color;
            border: 1px solid $default_color;
            font-weight: normal;
            color: #8C8C8C;
        }
        &.is-disabled{
            .el-radio-button__inner{
                color: #BFBFBF;
            }
        }
    }
    .el-radio-button__orig-radio:checked + .el-radio-button__inner{
        background-color:#fff;
        border-color: $highlight_color;
        color:$highlight_color;
        border-radius: 4px;
        box-shadow: 0px 1px 2px rgba(24, 144, 255, 0.4);
    }
}
.el-button.common_button--fs-big { //在原本.el-button基础上调整字体大小
    font-size: 14px;
    padding: 5px 15px;
    line-height: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.flex{
    display: flex;
}
.iflex{
    display: inline-flex;
}
.flex.h-center{
    justify-content: center;
}
.flex.h-sb{
    justify-content: space-between;
}
.flex.v-center{
    align-items: center;
}
.flex.v-end{
    align-items: flex-end;
}
.flex.center{
    align-items: center;
    justify-content: center;
}
.flex-col,.flex1{
    flex: 1;
}
.fitem-x-left {
    margin-right: auto; //主轴右对齐，自身左对齐
}
.fitem-x-right {
    margin-left: auto;
}
.limit-h{
    min-height: 0;
}
.limit-w{
    min-width: 0;
}
.f-toe {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.f-csp {
    cursor: pointer;
}
.f-csd {
    cursor: default;
}
.f-csnot {
    cursor: not-allowed;
}
.pe-no {
    pointer-events: none; //鼠标事件穿透
}
.f-pa{
    position: absolute;
}
.f-pr {
    position: relative;
}
.f-dib {
    display: inline-block;
}
.f-oh {
    overflow: hidden;
}
.f-oa {
    overflow: auto;
}
.f-y-oa {
    overflow-y: auto;
}
.f-y-oh {
    overflow-y: hidden;
}
.f-x-oa {
    overflow-x: auto;
}
.f-x-oh {
    overflow-x: hidden;
}
.f-fl {
    float: left;
}
.f-fr {
    float: right;
}
.f-tal {
    text-align: left;
}
.f-tac {
    text-align: center;
}
.f-tar {
    text-align: right;
}
.c-money-red {
    color: $money-red;
}
.c-money-orange {
    color: $money-orange;
}
.c-text-btn-blue {
    color: $text-btn-blue;
}
.c-sub-green {
    color: #4CAF50;
}
.mr12 {
    margin-right: 12px;
}
.mr20 {
    margin-right: 20px;
}
.mr40 {
    margin-right: 40px;
}
.lh32 {
    line-height: 32px;
}
.date-picker--no-moment {
    .el-picker-panel__footer .el-button--text {
        display: none !important; //时间日期组件不需要展示此刻
    }
}
// 自定义列表空样式
.el-table__empty-text{
    .empty_list_block{
        line-height: 0;
        .empty_txt{
            font-weight: 300;
            font-size: 12px;
            line-height: 23px;
            color: #8C8C8C;
            .el-button--text{
                font-size: 12px;
                padding: 0;
            }
        }
    }
}
// UI统一：自定义列表空样式、树空样式
.el-table .el-table__empty-text,
.el-tree .el-tree__empty-text {
    // 表格无数据时、树无数据时，展示暂无数据图标
    & {
        position: absolute;
        width: 60px;
        height: 60px;
        background: url('~@/assets/images/doctws/list_empty.svg') no-repeat center center;
        font-size: 0px;
        &::after {
            content: '暂无数据';
            position: absolute;
            height: 22px;
            line-height: 22px;
            font-size: 14px;
            font-weight: normal;
            color: #B6C9DB;
            left: 0px;
            right: 0px;
            bottom: -22px;
        }
    }
}

// 针对住院全局修改
.common_container{
    // padding: 4px 0 0 4px;
    padding: 0;
    .el-tabs__item{
        font-size:16px;
    }
    .el-dropdown{
        font-size: 16px;
        font-weight: 500;
        color: #303133;
    }
    // 实现table hover边框
    // .el-table tbody tr:hover>td{
    //     border: 1px solid #238DFA;
    //     background: #FAFAFA!important;
    //     box-sizing: border-box;
    //     &:not(:first-child){
    //       border-left: none;
    //     }
    //     &:not(:last-child){
    //         border-right-color: #EBEEF5;
    //     }
    // }
    .cbf{
        color: #BFBFBF;
    }
    // .el-button:not(.el-button--text){
    //     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    //     border-radius: 4px;
    //     font-weight: normal;
    // }
    // 必填项去掉提示信息
    .el-form-item{
        &.is-required::before,.el-form-item__error{
            display: none;
        }
        &.is-required:not(.is-no-asterisk) > .el-form-item__label:before{
            display: none;
        }
    }
}
.el-button:not(.el-button--text){
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-weight: normal;
}
.commonInputNum{
    display: flex;
    flex-direction: row;
    .el-form-item__content{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .inputNum{
        .el-input__inner{
            border: 1px solid #E8E8E8;
            border-radius:4px 0 0 4px;
            padding: 0 5px;
            &:focus {
                outline: none;
                border-color: #1890FF;
            }
        }
    }
    .after{
        padding: 5px 8px;
        height: 32px;
        line-height: 22px;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius:0 4px 4px 0;
        border-left: none;
        .el-input__inner{
            border-radius:0 4px 4px 0;
        }
    }
}
#contentBoxPrint .content{
      /*滚动条样式*/
    // ::-webkit-scrollbar {
    //     /*滚动条整体样式*/
    //     width: 18px;
    //     height: 6px;
    // }
    // ::-webkit-scrollbar-thumb:hover{
    //     background-color: #A3A3A3;
    // }
    // ::-webkit-scrollbar-thumb {
    //     /*滚动条里面小方块*/
    //     border-radius: 5px;
    //     background: rgba(80, 79, 79, 0.2);
    // }
}
* {
    // UI全局统一滚动条样式
    ::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 16px;
        height: 16px;
    }
    ::-webkit-scrollbar-track {
        // background-color: #EEEEEE;
        width: 16px;
    }
    ::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        background: #BDBDBD;
        border: 4px solid transparent;
        border-radius: 10px;
        background-clip: content-box;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: #A3A3A3;
        border: 4px solid transparent;
        border-radius: 10px;
        background-clip: content-box;
    }
}
.addNewItemBtn.el-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 4px;
    border-radius:4px;
    font-size:12px;
    padding: 0;
    margin-left: 0;
    color:rgba(255,255,255,1);
    background:rgba(24,144,255,1);
 }
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.c26{
    color: #262626;
}
.c21{
    color: #212121;
}
.c59{
    color: #595959;
}
.fw{
    font-weight: bold;
}
// 图片置灰
.gray_img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
// 超出单行文本省略号
.line_clamp{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.line_clamp_2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.groupLast{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../src/assets/images/doctws/list_bottom.png') no-repeat center center;
    &.reverse{
        background: url('../src/assets/images/doctws/specialDrug_bottom.png') no-repeat center center;
    }
}
.groupFirst{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../src/assets/images/doctws/list_top.png') no-repeat center center;
    &.reverse{
        background: url('../src/assets/images/doctws/specialDrug_top.png') no-repeat center center;   
    }
}
.groupMiddleItem{
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    &.reverse{
        transform: translate(4px);
        &::after{
            background: #FAAD14;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translate(0,-50%);
        width: 2px;
        height: 12px;
        background: #51A7F8;
        display: inline-block;
    }
    
}
.bgf{
    background: #fff;
}
//之前tree的样式
.commonTree{
    .el-collapse,
    .el-collapse-item__wrap {
        border: none;
    }
    .el-collapse-item__wrap {
        padding-left: 22px;
    }
    .el-collapse-item.is-disabled{
        .el-collapse-item__header{
                font-weight: 700;
                color: #262626;
                .el-collapse-item__arrow{
                    display: none;
                }
        }
        .noCheckData{
            position: absolute;
            top: 50%;
            height: 22px;
            line-height: 22px;
            right: 8px;
            color: #8C8C8C;
            transform: translate(0,-50%);
        }
    }
    .el-collapse-item__header {
        box-sizing: border-box;
        position: relative;
        border-radius: 4px;
        padding-left: 24px;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        color: rgba(38, 38, 38, 1);
        font-weight: 700;
        background: #e9ebee;
        border: 1px solid #e9ebee;
        margin-bottom: 4px;
        .el-collapse-item__arrow{
            position: absolute;
            top: 30%;
            left: 6px;
            &.el-icon-arrow-right {
                color: rgba(38, 38, 38, 1);
                font-weight: 700;
                &::before{
                    content: "\E791";
                    font-size: 14px;
                }
                &.is-active{
                    color: #1890ff;
                    transform: rotate(90deg);
                }
            }
        }
    }

    .el-tree-node{
        .el-tree-node__content{
            height: 32px;
            line-height: 32px;
            .el-tree-node__expand-icon{
                font-size: 16px;
            }
        }
    }
    .is-current{
        &>.el-tree-node__content{
            background: #E8F4FF;
            color: rgba(24, 144, 255, 1);
        }
    }
    .el-collapse-item__content{
        padding-bottom: 12px;
    }
    .expanded{
        color: #1890FF;
    }
}
//物资收费迭代7的tree样式修改
.commonTreeAs{
    .el-tree-node__content{
        border: 1px solid transparent;
    }
    .el-tree-node:focus > .el-tree-node__content {
        background: #E8F4FF;
        color: rgba(24, 144, 255, 1);
        border: 1px solid transparent;
    }
    .el-tree-node__content:hover {   
        border: 1px solid #2196F3;
        background: #fff;
        box-shadow: 0px 1px 16px rgba(24, 144, 255, 0.15);

    }
    .el-collapse,
    .el-collapse-item__wrap {
        border: none;
    }
    .el-collapse-item__wrap {
        padding-left: 22px;
    }
    .el-collapse-item.is-disabled{
        .el-collapse-item__header{
                font-weight: 700;
                color: #262626;
                .el-collapse-item__arrow{
                    display: none;
                }
        }
        .noCheckData{
            position: absolute;
            top: 50%;
            height: 22px;
            line-height: 22px;
            right: 8px;
            color: #8C8C8C;
            transform: translate(0,-50%);
        }
    }
    .el-collapse-item__header {
        box-sizing: border-box;
        position: relative;
        border-radius: 4px;
        padding-left: 24px;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        color: rgba(38, 38, 38, 1);
        font-weight: 700;
        background: #e9ebee;
        border: 1px solid #e9ebee;
        margin-bottom: 4px;
        .el-collapse-item__arrow{
            position: absolute;
            top: 30%;
            left: 6px;
            &.el-icon-arrow-right {
                color: rgba(38, 38, 38, 1);
                font-weight: 700;
                &::before{
                    content: "\E791";
                    font-size: 14px;
                }
                &.is-active{
                    color: #1890ff;
                    transform: rotate(90deg);
                }
            }
        }
    }

    .el-tree-node{
        border: 1px solid transparent;
        .el-tree-node__content{
            height: 32px;
            line-height: 32px;
            .el-tree-node__expand-icon{
                font-size: 16px;
            }
        }
    }
    .is-current{
        &>.el-tree-node__content{
            background: #E8F4FF;
            color: rgba(24, 144, 255, 1);
        }
    }
    .el-collapse-item__content{
        padding-bottom: 12px;
    }
    .expanded{
        // color: #1890FF;
    }
}

.el-message-box.message-system-upd { //系统升级提示框
    width: 516px;
    min-height: 284px;
    overflow: visible;
    padding: 0;
    border: 0;
    border-radius: 20px;

    .el-message-box__header {
        padding: 0;
    }
    .el-message-box__content {
        padding: 0;
    }

    .msu-top-img {
        position: absolute;
        left: 0;
        top: -98px;
        width: 516px;
        height: 271px;
        background: url('../src/assets/images/welcome/bg_msg-system-upd.png') no-repeat left top;
    }
    .msu-title {
        position: absolute;
        left: 0;
        bottom: 10px;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        color: #424242;
        padding-left: 24px;
    }
    .msu-content {
        padding-top: 180px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .msu-text {
        min-height: 30px;
        font-size: 14px;
        line-height: 22px;
    }
    .el-message-box__btns {
        padding: 24px;
    }
}

.pe-no-tooltip {
    &.el-tooltip__popper {
        pointer-events: none; //鼠标事件穿透
    }
}

// 自定义修改tooltip--黑色主题
.dark-tooltip{
    &.el-tooltip__popper{
        background: #262626!important;
        color: #fff!important;
        &[x-placement^=left] .popper__arrow::after {
            border-left-color:#262626 !important;
        }
        &[x-placement^=right] .popper__arrow::after {
            border-right-color:#262626 !important;
        }
        &[x-placement^=top] .popper__arrow::after {
            border-top-color:#262626 !important;
        }
        &[x-placement^=bottom] .popper__arrow::after {
            border-bottom-color:#262626 !important;
        }
    }
}

// 住院护士，通用医嘱描述单元格样式
.flex-orderItem-td {
    .orderItem__text {
        margin-right: 5px;
    }
    span[class*='orderItem__flag'] {
        margin-right: 5px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    span:nth-last-child(1) {
        margin-right: 0;
    }
    // 组标识
    span.orderItem__flag--group {
        width: 6px;
        background-size: 6px 10px;
        background-image: url('../src/assets/images/doctws/list_top.png');
        background-position: left 4px;
        &.flag-group--end {
            background-image: url('../src/assets/images/doctws/list_bottom.png');
            background-position: left center;
        }
        &.flag-group--middle {
            background: none;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -6px;
                width: 2px;
                height: 12px;
                background-color: #6fbaff;

            }
        }
    }
    //出院带药标识
    .orderItem__flag--out-hospital {
        color: #448ef7;
    }
    // 皮试标识
    .orderItem__flag--skin-test {
        color: #FA211F;
        // 皮试结果
        .flag-skin-test__res {
            display: inline-block;
            vertical-align: text-bottom;
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            &.skin-test-res--positive {
                background-image: url('../src/assets/images/inpDoctor/docAdvice_add.svg');
            }
            &.skin-test-res--femail {
                background-image: url('../src/assets/images/inpDoctor/docAdvice_minus.svg');
            }
        }
    }
    // 自备标识
    .orderItem__flag--self-provided {
        width: 15px;
        height: 15px;
        background-image: url('../src/assets/images/inpNurse/self.svg');
    }
    // 不摆药标识
    .orderItem__flag--no-prepare-drug {
        width: 15px;
        height: 15px;
        background-image: url('../src/assets/images/inpNurse/no-prepare-drug.svg');
    }
    // 床旁标识
    .orderItem__flag--bedside {
        width: 15px;
        height: 15px;
        background-image: url('../src/assets/images/inpNurse/bedp.svg');
    }
    // 处方标识
    span.orderItem__flag--recipe {
        color: #FAAD14;
        &[class*='flag-recipe--'] {
            padding-right: 10px;
            background-position: right 6px;
            background-size: 6px 10px;
        }
        &.flag-recipe--begin {
            background-image: url('../src/assets/images/doctws/specialDrug_top.png');
            background-position: right center;
        }
        &.flag-recipe--end {
            background-image: url('../src/assets/images/doctws/specialDrug_bottom.png');
            background-position: right center;
        }
        &.flag-recipe--middle {
            background: none;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 1px;
                margin-top: -6px;
                width: 2px;
                height: 12px;
                background-color: #FAAD14;
            }
        }
    }
}
// 住院护士成组图标修改
.groupIconFirst{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../src/assets/images/inpNurse/group_icon_top.svg') no-repeat center center;
}
.groupIconMidItem{
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translate(0,-50%);
        width: 2px;
        height: 10px;
        background: #1890FF;
        display: inline-block;
    }
    
}
.groupIconLast{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../src/assets/images/inpNurse/group_icon_bottom.svg') no-repeat center center;
}
.pat_info__icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../src/assets/images/inpNurse/pat_info_icon.svg') no-repeat center center;
}

// 真对表格存在fixed固定列底部样式留白问题
.table-fixed {
    .el-table__fixed,.el-table__fixed-right{
        height: calc(100% - 6px) !important; //设置高优先，以覆盖内联样式
        .el-table__fixed-body-wrapper{
            height: calc(100% - 33px)!important;
        }
    }
}

// ====UI统一全局start===================

// ====表单类start====
.el-select-dropdown__item {
    color: $dark-melanin;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: $hover-blue !important;
}

// checkbox选中后文本不需要高亮
.el-checkbox {
    color: $dark-melanin;
    .el-checkbox__input.is-checked + .el-checkbox__label {
        color: $dark-melanin;
    }
    .el-checkbox__input.is-disabled + span.el-checkbox__label {
        color: #BDBDBD;
    }
    // checkbox选中且禁用时，展示蓝色
    .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
        background-color: #90CAF9;
        border: 1px solid #90CAF9;
        &::after {
            border-color: #fff !important;
        }
    }
}
// ====表单类end======


// ====表格start====
// 表格悬停色
.el-table__body .el-table__row.hover-row td {
    background-color: $tb-hover-blue !important;
}
.el-table tbody tr:hover td{ 
    background-color: $tb-hover-blue !important;
}
// ====表格end======


// ====提示类start====
// el-message的最大高度
.el-message-box__message {
    max-height: calc(85vh - 120px);
    overflow-y: auto;
}

// 提示框文案为黑色文字
div.el-message .el-message__content {
    color: $darker-melanin;
}

// 除了tooltip，其他的组件不需要展示三角
.el-select-dropdown.el-popper,
.el-date-picker.el-popper,
.el-date-range-picker.el-popper,
.el-autocomplete-suggestion.el-popper {
    &[x-placement^="bottom"] {
        margin-top: 4px;
    }
    &[x-placement^="top"] {
        margin-bottom: 4px;
    }
    .popper__arrow {
        display: none;
    }
}

// el-dropdown下拉菜单: 不展示向上、向下的小三角。间隙不要过大
.el-dropdown-menu.el-popper {
    &[x-placement^="bottom"] {
        margin-top: 0;
    }
    &[x-placement^="top"] {
        margin-bottom: 0;
    }
    padding: 4px 0;
    .popper__arrow {
        display: none;
    }
    .el-dropdown-menu__item {
        padding: 2px 20px;
    }
}
// 鼠标悬停气泡样式
div.el-tooltip__popper {
    max-width: 98vw; //避免提示内容超出屏幕
    min-height: 20px;
    line-height: 20px;
    padding: 4px 16px;
}
// ====提示类end======



// ====UI统一全局end=====================